        body {
            font-size: 14px !important;
        }

        .form-group {
            margin: 20px 0px;
        }

        .panel-body {
            margin: 40px 50px;
            background: #ECECEC;
            border-radius: 5px;
        }

        .input-group {
            padding: 20px;
            border-radius: 5px;
        }
