<html>
    <head>
    <style>

        .form-group {
            margin: 20px 0px;
        }

        .panel-body {
            margin: 40px 50px;
        }

        .input-group {
            background: #C0C0C0;
            padding: 20px;
            border-radius: 5px;
        }

    </style>
        <title>StartApp Settings</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="btn-group btn-group-lg" role="group" aria-label="Menu">
                    <a href="/" class="btn btn-secondary" aria-pressed="true">Home Page</a>
                    {% if role == 'admin' %}
                    <a href="/test" class="btn btn-secondary" aria-pressed="true">Admin Page</a>
                    {% endif %}
                </div>
            </div>
            <div class="panel-body">
                <div class="col-sm-3">
                    <div class="input-group input-group-sm mb-3">
                        <div class="col-sm-10">
                            <h3><span class="badge badge-secondary">Change password</span></h3>
                            <form id="changePasswordForm">
                                <div class="form-group">
                                    <label for="oldPasswordInput">Old Password</label>
                                    <input type="password" class="form-control" id="oldPasswordInput" placeholder="Old password" >
                                </div>
                                <div class="form-group">
                                    <label for="newPasswordInput">New Password</label>
                                    <input type="password" class="form-control" id="newPasswordInput" placeholder="New password" >
                                </div>
                                <div class="form-group">
                                    <label for="rePassword">Repeat Password</label>
                                    <input type="password" class="form-control" id="rePassword" placeholder="Repeat password" >
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>

                {% if role == "admin" %}
                <div class="col-sm-3">
                    <div class="input-group">
                        <h3><span class="badge badge-secondary">Hello Admin!</span></h3>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>


        <script>
            document.getElementById("changePasswordForm").addEventListener("submit", submitPasswordChange);
            function submitPasswordChange(e) {
                e.preventDefault(); 
                var oldPassword = e.target[0].value;
                var newPassword = e.target[1].value;
                var rePassword = e.target[2].value;
                if (newPassword !== rePassword) {
                    alert("new password must be repeated correctly");
                } else {
                    fetch('/changePassword', {
                        method: "POST",
                        body: JSON.stringify({
                            "oldPassword": oldPassword,
                            "newPassword": newPassword,
                            "rePassword": rePassword
                        }) 
                    }).then(res => res.json()).then(function(data) {
                        if (data.result == "success") {
                            alert("Success!");
                        } else {
                            alert("Wrong password");
                        }
                    });
                }
            }
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </body>
</html>

